@use 'variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tablet-up {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

@mixin wide-up {
  @media (min-width: $bp-wide) {
    @content;
  }
}